In [1]:
import pandas as pd
import numpy as np

df_trans=pd.read_csv("../data/Trans2.csv")
df_budget=pd.read_excel("../data/2013-2018 Adopted Budgets.xlsx")

In [8]:
df_trans.head()

,Entity,Account,Date,Description,Amount,Fund #,Service #
0,100-100001,41101,07/01/2012,Record PY prpd txs as CY,-116018.63,100,100001
1,100-100001,41103,07/01/2012,Record PY prpd txs as CY,-1343129.12,100,100001
2,100-100001,41201,07/01/2012,accrue sales&use tax 7/16,1901125.37,100,100001
3,100-100001,41202,07/01/2012,accrue sales&use tax 7/16,866051.86,100,100001
4,100-100001,41203,07/01/2012,accrue sales&use tax 7/16,575521.51,100,100001

In [9]:
df_budget.head()

,Service #,Service Name,Fund #,Fund,Fund- # & Name,Dept #,Dept Name,SubDept#,SubDept Name,Service Area,Type,Acct #,Acct Name,ExpSort,Acct Cat,AU All,budgetType,Amount,Year,PerCapita
0,250115,Medicaid Transportation,100,General,100-General,250,Transportation - Human Services,10,Transportation-Human Serv,Human Services,Expense,58900,Expense Transfer,7.0,Other Expense,250115-58900,adopted,-2725474.0,2013,-5.431265
1,175310,Distribution Services,100,General,100-General,175,Facilities,30,Distribution Services,Support Services,Expense,58900,Expense Transfer,7.0,Other Expense,175310-58900,adopted,-550000.0,2013,-1.096028
2,310730,DS-Prison Farm Operation,100,General,100-General,310,Law Enforcement,40,Detention Services,Public Safety,Expense,58900,Expense Transfer,7.0,Other Expense,310730-58900,adopted,-140000.0,2013,-0.278989
3,210130,Child Abuse,100,General,100-General,210,Public Health,10,Community Health,Human Services,Expense,58900,Expense Transfer,7.0,Other Expense,210130-58900,adopted,-72160.0,2013,-0.143799
4,210270,Tobacco Prevention-Youth Proj,100,General,100-General,210,Public Health,10,Community Health,Human Services,Expense,51050,Merit Increases,1.0,Personnel Expense,210270-51050,adopted,-1212.0,2013,-0.002415

In [10]:
df_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886825 entries, 0 to 886824
Data columns (total 7 columns):
Entity         886825 non-null object
Account        886825 non-null int64
Date           886825 non-null object
Description    878195 non-null object
Amount         886825 non-null float64
Fund #         886825 non-null int64
Service #      886825 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 47.4+ MB

In [11]:
df_trans["Fund #"]=[int(x.split("-")[0]) for x in df_trans["Entity"]]

In [12]:
df_trans["Service #"]=[int(x.split("-")[1]) for x in df_trans["Entity"]]

In [13]:
df_trans.head()

,Entity,Account,Date,Description,Amount,Fund #,Service #
0,100-100001,41101,07/01/2012,Record PY prpd txs as CY,-116018.63,100,100001
1,100-100001,41103,07/01/2012,Record PY prpd txs as CY,-1343129.12,100,100001
2,100-100001,41201,07/01/2012,accrue sales&use tax 7/16,1901125.37,100,100001
3,100-100001,41202,07/01/2012,accrue sales&use tax 7/16,866051.86,100,100001
4,100-100001,41203,07/01/2012,accrue sales&use tax 7/16,575521.51,100,100001

In [14]:
cat=[""]

In [15]:
df_budget.columns

Index(['Service #', 'Service Name', 'Fund #', 'Fund', 'Fund- # & Name',
       'Dept #', 'Dept Name', 'SubDept#', 'SubDept Name', 'Service Area',
       'Type', 'Acct #', 'Acct Name', 'ExpSort', 'Acct Cat', 'AU All',
       'budgetType', 'Amount', 'Year', 'PerCapita'],
      dtype='object')

In [ ]:
r=df_trans.merge(df_budget[['Service #','Service Name', 'Fund #','Dept #']], 
               left_on=["Fund#","Service#"], right_on=["Fund #","Service #"], how='left')

In [ ]:
r.head()

In [46]:

l=[x for x in df_budget["Service #"]]
100001 in l

True

In [ ]:
, 'Dept Name', 'SubDept#', 'SubDept Name',
                          'Service Area','Type'

In [50]:
100001.0==100001

True

In [47]:
df_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886825 entries, 0 to 886824
Data columns (total 7 columns):
Entity         886825 non-null object
Account        886825 non-null int64
Date           886825 non-null object
Description    878195 non-null object
Amount         886825 non-null float64
Fund#          886825 non-null int64
Service#       886825 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 47.4+ MB

In [24]:
a=[(str(x)+"-") for x in df_budget["Fund #"]]

In [30]:
b=[str(x) for x in df_budget["Service #"]]

In [52]:
z=[(i+k) for (i,k) in zip(a,b)]

In [54]:
"100-100001" in z

True

In [48]:
df_trans

,Entity,Account,Date,Description,Amount
0,100-100001,41101,07/01/2012,Record PY prpd txs as CY,-116018.63
1,100-100001,41103,07/01/2012,Record PY prpd txs as CY,-1343129.12
2,100-100001,41201,07/01/2012,accrue sales&use tax 7/16,1901125.37
3,100-100001,41202,07/01/2012,accrue sales&use tax 7/16,866051.86
4,100-100001,41203,07/01/2012,accrue sales&use tax 7/16,575521.51
5,100-100001,41204,07/01/2012,accrue sales&use tax 7/16,1378.89
6,100-100001,41212,07/01/2012,accrue sales&use tax 7/16,304822.42
7,100-100001,41213,07/01/2012,accrue sales&use tax 7/16,631082.97
8,100-100001,41601,07/01/2012,Accrue Rm Occ & Gr Rec Tx,58746.55
9,100-100001,42101,07/01/2012,Record PY prpd txs as CY,-6915.34
10,100-100001,47101,07/01/2012,Reverse PY designated fun,-30838087.00
11,100-101110,52050,07/01/2012,AP Accr V067981 P144080,-267.02
12,100-101110,53040,07/01/2012,AP Accr V107683 PAFP-1301,-194.96
13,100-101110,53040,07/01/2012,AP Accr V046561 PAFP,-3.27
14,100-101110,53040,07/01/2012,107683AT&T INC,194.96
15,100-102110,53040,07/01/2012,AP Accr V107683 PAFP-1301,-48.74
16,100-102110,53040,07/01/2012,AP Accr V046561 PAFP,-5.04
17,100-102110,53040,07/01/2012,107683AT&T INC,48.74
18,100-105002,52010,07/01/2012,AP Accr V031434 P143050,-18.00
19,100-105002,52050,07/01/2012,AP Accr V100834 P139734,-10.47
20,100-105002,53010,07/01/2012,AP Accr V017522 P138415,-900.00
21,100-105002,53010,07/01/2012,AP Accr V065943 P003105,-526.00
22,100-105002,53010,07/01/2012,AP Accr V065943 P003105,-526.00
23,100-105002,53010,07/01/2012,"17522C I S , INC",900.00
24,100-105002,53040,07/01/2012,AP Accr V107683 PAFP-1301,-292.44
25,100-105002,53040,07/01/2012,AP Accr V091665 P138072,-50.20
26,100-105002,53040,07/01/2012,AP Accr V046561 PAFP,-3.60
27,100-105002,53040,07/01/2012,107683AT&T INC,292.44
28,100-105002,53220,07/01/2012,AP Accr V081397 P142393,-228.69
29,100-110110,52010,07/01/2012,AP Accr V108099 P142653,-252.60
...,...,...,...,...,...
886795,520-710249,53690,06/30/2017,GCS Accounts Payable,2253072.05
886796,520-710250,47101,06/30/2017,Trans unspent funds fr 71,-0.27
886797,520-710250,53690,06/30/2017,GCS Sales Tax Receivable,-80506.22
886798,520-710250,53690,06/30/2017,GCS Accounts Payable,1001925.41
886799,520-710251,53690,06/30/2017,GCS Sales Tax Receivable,-321682.02
886800,520-710251,53690,06/30/2017,Hunter Elem School-Sales,133.57
886801,520-710251,53690,06/30/2017,GCS Add Exp - Funds not r,1605.64
886802,520-710251,53690,06/30/2017,GCS Accounts Payable,750239.56
886803,520-710252,53690,06/30/2017,GCS Sales Tax Receivable,-262.85
886804,520-710253,53690,06/30/2017,GCS Sales Tax Receivable,-11291.33
886805,520-710254,53690,06/30/2017,GCS Sales Tax Receivable,-61430.56
886806,520-710254,53690,06/30/2017,GCS Accounts Payable,696516.68
886807,520-710255,53690,06/30/2017,GCS Sales Tax Receivable,-124975.04
886808,520-710255,53690,06/30/2017,GCS Accounts Payable,583841.08
886809,520-710258,53690,06/30/2017,GCS Sales Tax Receivable,-5982.10
886810,520-710258,53690,06/30/2017,GCS Accounts Payable,68204.45
886811,520-710259,53690,06/30/2017,GCS Sales Tax Receivable,-13741.60
886812,520-710259,53690,06/30/2017,GCS Accounts Payable,276982.26
886813,520-710417,48110,06/30/2017,June Monthly Trans per B,-500000.00
886814,520-710417,53690,06/30/2017,Capital Outlay,-999697.12
886815,520-710417,53690,06/30/2017,Sales Tax Correction Rec,-350886.06
886816,520-710417,53690,06/30/2017,GCS to Pay Exp,-99706.01
886817,520-710417,53690,06/30/2017,Reclass Exp to 710204,-14154.75
886818,520-710417,53690,06/30/2017,GCS Accounts Payable,112619.24
886819,520-710724,53690,06/30/2017,Record GTCC Payables,173679.98
886820,520-710726,47101,06/30/2017,Trans unspent funds to 71,0.47
886821,520-710728,47101,06/30/2017,Trans unspent funds fr 71,-0.47
886822,520-710728,53690,06/30/2017,Record GTCC Payables,2203988.52
886823,520-710816,53690,06/30/2017,Record GTCC Payables,126962.12
886824,520-710817,48110,06/30/2017,June Monthly Trans per B,-125000.00

In [60]:
df_budget.groupby("Dept Name")["Service #"]